
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Главная</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
  <div class="nav navbar-nav">
    <% if (locals.user) { %>
    <div id="menu">
      <%# меню пользователей выполнивших вход%>
      <span class="name"><%= locals.user.name %></span> <%# user.name для
      браузера то что пользователь послал в requeste%>
      <a class="badge rounded-pill bg-primary" href="/post" aria-current="page"
        >Post<span class="visually-hidden">(current)</span></a
      >
      <a class="badge rounded-pill bg-warning" href="/logout">Logout</a>
    </div>
    <% } else { %>
    <div class="" id="menu">
      <%# //меню анонимных пользователей %>
      <a class="badge rounded-pill bg-info" href="/login" aria-current="page"
        >Login<span class="visually-hidden">(current)</span></a
      >
      <a class="badge rounded-pill bg-info" href="/register">Register</a>
    </div>
    <% } %>
  </div>
</nav>
